{% extends 'layout.html' %}
{% load i18n static %}

{% block heading %}
{% endblock %}

{% block content %}
<div class="row parallax-background cover">
    <div class="large-12 columns">
        <div class="">
            <h1 class="main-logo"><span class="hide">METELESKA</span></h1>
            <div>
                {% for social in socials %}
                    <a href="{{ social.url }}"><i class="large fi-social-{{ social.title|slugify }}"></i></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if events_count > 0 %}
    <div class="row parallax-content cover parallax-background-2">

        <h2 class="section-title">{% trans 'front-homepage_event_title' %}</h2>

        {% if events_count > 1 %}
        <div class="large-6 medium-6 small-12 columns">
        {% endif %}

            {% for event in events|slice:":1" %}
                <div class="row">
                    <div class="large-4 columns">
                        <p>foto</p>
                    </div>
                    <div class="large-8 columns">
                        <p>
                            {{ event.title }}
                            <br>
                            {{ event.perex|safe }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% if events_count > 1 %}
        </div>
        <div class="large-6 medium-6 small-12 columns">
        {% endif %}
            {% for event in events|slice:"1:5" %}
                <div class="row">
                    <div class="large-4 columns">
                        <h3 class="event-date">{{ event.datetime|date:'d. F' }}</h3>
                    </div>
                    <div class="large-8 columns">
                        <h3>
                            {{ event.title }}<br>
                            {{ event.venue }}
                        </h3>
                    </div>
                </div>
            {% endfor %}
        {% if events_count > 1 %}
        </div>
        {% endif %}

        <a href="" class="secondary button">view all</a>

    </div>
{% endif %}

<div class="row parallax-content cover parallax-background-3">
    <h2 class="section-title">{% trans 'front-homepage_music_title' %}</h2>
    <div class="large-6 columns">
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ak8-eMkWpnY?rel=0"
                    frameborder="0" allowfullscreen></iframe>
        </p>
    </div>
    <div class="large-6 columns">
        <p>
            our music
        </p>
    </div>
</div>

<div class="row parallax-content cover parallax-background-4">
    <div class="large-12 columns">
    <h2 class="section-title">{% trans 'front-homepage_bio_title' %}</h2>
        <p>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
            our bio<br>
        </p>
    </div>
</div>

<div class="row parallax-content cover parallax-background-5">
    <div class="large-12 columns">
    <h2 class="section-title">{% trans 'front-homepage_photos_title' %}</h2>
        <p>
            our photos
        </p>
    </div>
</div>

<div class="row parallax-content cover parallax-background-6">
    <div class="large-12 columns">
    <h2 class="section-title">{% trans 'front-homepage_support_title' %}</h2>
        <p>
            support us
        </p>
    </div>
</div>

<div class="row parallax-content cover parallax-background-7">
    <div class="large-12 columns">
    <h2 class="section-title">{% trans 'front-homepage_contact_title' %}</h2>
        <p>
            contact us / join / promoters
        </p>
    </div>
</div>
{% endblock %}
