<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{% load i18n static %}
    <head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <title>{{ config_site_name }}</title>
        {% endblock %}

        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <link rel="stylesheet" href="{% static "css/foundation-icons.css" %}">

        <meta name="author" content="Dorian Podulka, https://github.com/dorianpodulka" />

    {% endblock %}
    </head>
    <body>
        <div id="page">

            {%  block main_menu %}
            <div class="top-bar-container" data-sticky-container>
                <div class="sticky" data-sticky data-options="marginTop: 0; stickyOn: small;">
                    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-toggle></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="top-bar" id="main-menu">
                        <div class="row column">
                          <div class="top-bar-center">
                            {% load sitetree %}
                            {% sitetree_menu from "menu" include "trunk, menu" %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            {%  endblock %}

            {% block heading %}
            {%  endblock %}

            {# here goes our template #}
            {% block content %}
            {% endblock %}


        </div>

        <script src="{% static "js/vendor/jquery.js" %}"></script>
        <script src="{% static "js/vendor/what-input.js" %}"></script>
        <script src="{% static 'js/vendor/foundation.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
