<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{% load i18n static %}
    <head>
    {% block head %}

        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ config_site_name }}{% block title %}{% if config_description != '' %} | {{ config_description }}{% endif %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static "css/vendor/foundation.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/menu.css" %}">
        <link rel="stylesheet" href="{% static "css/snippets.css" %}">
        <link rel="stylesheet" href="{% static "css/mobile.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/foundation-icons.css" %}">

        <style type="text/css">
            {% for page in pages %}
                {% if page.image %}
                    .parallax-background-{{ forloop.counter }} { background-image: url("/media/{{ page.image }}"); }
                {% endif %}
            {% endfor %}
        </style>

        <meta name="author" content="https://github.com/Cosmir-Production" />
        <meta name="description" content="{{ config_description }}">

    {% endblock %}
    </head>
    <body {% block body_class %}class="page-homepage"{% endblock %}>
        <div id="page">

            {%  block main_menu %}
            <div class="top-bar-container" data-sticky-container>
                <div class="sticky" data-sticky data-options="marginTop: 0; stickyOn: small;">
                    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-toggle></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="top-bar" id="main-menu">
                        <div class="row column">
                          <div class="top-bar-center">
                            {% load sitetree %}
                            {% sitetree_menu from "main_menu" include "trunk, menu" %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            {%  endblock %}

            {% block heading %}
            {%  endblock %}

            {# here goes our template #}
            {% block content %}
            {% endblock %}


        </div>

        {% block footer %}
            <div id="footer">
                <p>© {{ SITE_NAME }} since 2009. All rights reserved. Všechna práva vyhrazena.<br>
                   Thanks to all that support us! Děkujeme všem co nás podporují!<br>
                    <a href="{{ SITE_URL_FULL }}">{{ SITE_URL }}</a>
                </p>
            </div>
        {% endblock %}

        <script src="{% static "js/vendor/jquery.js" %}"></script>
        <script src="{% static "js/vendor/what-input.js" %}"></script>
        <script src="{% static 'js/vendor/foundation.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
