<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{% load i18n static %}
    <head>
    {% block head %}

        <meta charset="utf-8">
        {% if config_favicon %}
            <link rel="shortcut icon" href="{{ config_favicon.url }}" type="image/x-icon" />
        {% endif %}
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ config_site_name }}{% block title %}{% if config_description != '' %} | {{ config_description }}{% endif %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static "assets/css/app.css" %}">

        <style>

            {% if page_homepage and page_homepage.image %}.parallax-background-1 { background-image: url("/media/{{ page_homepage.image }}"); }{% endif %}
            {% if page_events and page_events.image %}.parallax-background-2 { background-image: url("/media/{{ page_events.image }}"); }{% endif %}
            {% if page_music and page_music.image %}.parallax-background-3 { background-image: url("/media/{{ page_music.image }}"); }{% endif %}
            {% if page_news and page_news.image %}.parallax-background-4 { background-image: url("/media/{{ page_news.image }}"); }{% endif %}
            {% if page_gallery and page_gallery.image %}.parallax-background-5 { background-image: url("/media/{{ page_gallery.image }}"); }{% endif %}
            {% if page_bio and page_bio.image %}.parallax-background-6 { background-image: url("/media/{{ page_bio.image }}"); }{% endif %}
            {% if page_contact and page_contact.image %}.parallax-background-7 { background-image: url("/media/{{ page_contact.image }}"); }{% endif %}

            {% for page in pages %}
                {% if page.image %}
                    .parallax-background-{{ forloop.counter }} { background-image: url("/media/{{ page.image }}"); }
                {% endif %}
            {% endfor %}
        </style>

        <meta name="author" content="https://github.com/Cosmir-Production" />
        <meta name="description" content="{{ config_description }}">

    {% endblock %}
    </head>
    <body {% block body_class %}class="page-homepage"{% endblock %} data-sticky-container>

            {% block main_menu %}
                <div class="title-bar sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">

                    <div class="title-bar" data-responsive-toggle="pykapela-main-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-toggle="pykapela-main-menu"></button>
                        <a class="title-bar-title" data-toggle="pykapela-main-menu">MENU</a>
                    </div>

                    <div class="title-bar-center" id="pykapela-main-menu">
                        {% load sitetree %}
                        {% sitetree_menu from "main_menu" include "trunk, menu" %}
                    </div>
                    <div class="title-bar-right" id="pykapela-language-menu">
                        {% include "snippets/languages.html" %}
                    </div>
                </div>
            {%  endblock %}

        <div id="page">

            {% block heading %}
            {%  endblock %}

            {# here goes our template #}
            {% block content %}
            {% endblock %}


        </div>

        {% block footer %}
            <div class="pykapela-footer">
                <p>
                    <span class="footer_slogan">
                        {{ config_footer_slogan }}
                    </span>
                    <br>
                    <span class="copyright">
                        © {{ SITE_NAME }} since 2009. All rights reserved. Všechna práva vyhrazena.
                    </span>
                    <br>
                    <span class="creator">
                        <a href="{{ SITE_URL_FULL }}">{{ SITE_URL }}</a> |
                        <a href="/admin/" class="home-admin-link">admin</a> |
                        <a href="http://www.cosmirproduction.com">www.cosmirproduction.com</a>
                    </span>
                    <br>

                </p>
            </div>
        {% endblock %}

        <script src="{% static "js/vendor/jquery.js" %}"></script>
        <script src="{% static "js/vendor/what-input.js" %}"></script>
        <script src="{% static 'js/vendor/foundation.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
