{% extends 'base.html' %}
{% load i18n static %}

{% block heading %}
{% endblock %}

{% block content %}

    <a id="home"></a>
    <div class="grid-x parallax-content parallax-content-first parallax-background-1 dark main">
        <div class="cell parallax-inside">
            <div class="">
                <h1 class="main-logo"><span class="hide">{{ config_site_name }}</span></h1>
                <div class="socials">
                    {% for social in socials %}
                        <a href="{{ social.url }}" title="{{ social.title }}"><i class="large fi-social-{{ social.name }}"></i></a>
                    {% endfor %}
                </div>

                {% if page_homepage %}
                    {{ page_homepage.content|safe }}
                {% endif %}

            </div>
        </div>
    </div>

    <style type="text/css">
        {% if config_logo %}
            h1.main-logo { background-image: url("{{ config_logo.url }}"); }
        {% endif %}
    </style>


{% if upcoming_events_count > 0 %} {# we show past events later - show fans some music first #}

    <a id="events"></a>
    <div class="grid-x parallax-content parallax-background-2 events fixed-height">
        <div class="parallax-inside">

            {% include "events/events-upcomming.html" %}

            <a href="{% url "concerts" %}" class="secondary button large view-all">{% trans "View All Concerts" %}</a>

        </div>
    </div>
{% endif %}

{% if page_music %}
    <div class="row parallax-content parallax-background-3 dark music fixed-height">
        <a id="music"></a>
        <div class="parallax-inside">
            <h2 class="section-title">{{ page_music.title }}</h2>

            {{ page_music.content|safe }}

        </div>
    </div>
{% endif %}

{% if page_news %}
    <a id="news"></a>
    <div class="grid-x parallax-content parallax-background-4 news fixed-height">
        <div class="parallax-inside">
            <h2 class="section-title">{% trans page_news.title %}</h2>
            <div class="cell {% if twitter_widget.widget_code %} large-6{% endif %}">
                <p class="text-center">
                    {% if facebook_widget %}
                        {{ facebook_widget.widget_code|safe }}
                    {% endif %}
                </p>
            </div>

            {% if twitter_widget.widget_code %}
                <div class="cell large-6">
                    <p class="text-center">
                        {% if twitter_widget %}
                            {{ twitter_widget.widget_code|safe }}
                        {% endif %}
                    </p>
                </div>
            {% endif %}

        </div>
    </div>
{% endif %}

{% if page_gallery %}
<div class="grid-x parallax-content parallax-background-5 dark gallery-latest fixed-height">
    <a id="photos"></a>
    <div class="parallax-inside">
        <div class="cell">

            <h2 class="section-title">{% trans page_gallery.title %}</h2>

            {{ page_gallery.content|safe }}

            {% if images %}
                <div class="row image-table">
                    <div class="image-row">
                        {% for photo in images %}
                            <a href="{{ photo.get_absolute_url }}" class="image-td">
                                 <img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        <a href="{% url 'photologue:pl-photologue-root' %}" class="secondary button view-all">{% trans "View All Photos" %}</a>
    </div>
</div>
{% endif %}

{% if page_bio %}
<div class="grid-x parallax-content parallax-background-6 fixed-height">
    <a id="bio"></a>
    <div class="parallax-inside">
        <div class="cell large-12">
            <h2 class="section-title">{% trans page_bio.title %}</h2>

            {{ page_bio.content|safe }}

        </div>

    </div>
</div>
{% endif %}

<div class="row parallax-content parallax-background-7 dark fixed-height">
    <a id="contact"></a>
    <div class="parallax-inside">
        <div class="large-12 columns">
        <h2 class="section-title">{% trans page_contact.title %}</h2>

            {{ page_contact.content|safe }}

            <p class="contact-us">
                <a href="tel:{{ CONTACT_PHONE|cut:" " }}">{{ CONTACT_PHONE }}</a><br>
                <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a><br>
            </p>

            {% if config_rider_file or config_press_zip_file %}
                <div class="parallax-left">
                    <h2>{% trans "Downloads" %}</h2>

                    {% if config_rider_file %}
                        <p class="text-left"><a href="{{ config_rider_file.url }}">{% trans "Rider" %} ({{ config_rider_file.size|filesizeformat }})</a></p>
                    {% endif %}
                    {% if config_press_zip_file %}
                        <p class="text-left"><a href="{{ config_press_zip_file.url }}">{% trans "Press Photos in High Quality" %} ({{ config_press_zip_file.size|filesizeformat }})</a></p>
                    {% endif %}
                    {% if config_logo_file %}
                        <p class="text-left"><a href="{{ config_logo_file.url }}">{% trans "Logo" %} ({{ config_logo_file.size|filesizeformat }})</a></p>
                    {% endif %}

                </div>
            {% endif %}

        </div>

        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
