{% extends 'base.html' %}
{% load i18n static %}

{% block heading %}
{% endblock %}

{% block content %}

    <a name="home"></a>
    <div class="grid-x parallax-content parallax-content-first parallax-background-1 dark main">
        <div class="cell parallax-inside">
            <div class="">
                <h1 class="main-logo"><span class="hide">{{ config_site_name }}</span></h1>
                <div class="socials">
                    {% for social in socials %}
                        <a href="{{ social.url }}" title="{{ social.title }}"><i class="large fi-social-{{ social.name }}"></i></a>
                    {% endfor %}
                </div>

                {% if page_homepage %}
                    {{ page_homepage.content|safe }}
                {% endif %}

            </div>
        </div>
    </div>

    <style type="text/css">
        {% if config_logo %}
            h1.main-logo { background-image: url("{{ config_logo.url }}"); }
        {% endif %}
    </style>


{% if events_count > 0 %} {# we show past events later - show fans some music first #}

    <a name="shows"></a>
    <div class="grid-x parallax-content parallax-background-2 shows">
        <div class="parallax-inside">

            {% if events_count > 1 %}
                <h2 class="section-title">{% trans 'Upcomming Shows' %}</h2>
                <div class="cell small-6">
            {% else %}
                <h2 class="section-title">{% trans 'Next Show' %}</h2>
                <div class="cell">
            {% endif %}

                {# First show is promoted #}
                {% for event in events|slice:":1" %}
                    {% include "events/event-large.html" %}
                {% endfor %}

            {% if events_count > 1 %}
                </div>
                <div class="cell small-6">
            {% endif %}

                {# few other events #}
                {% for event in events|slice:"1:5" %}
                    {% include "events/event-small.html" %}
                {% endfor %}

            </div>

            <a href="{% url "concerts" %}" class="secondary button view-all">all concerts</a>

        </div>
    </div>
{% endif %}

{% if page_music %}
    <div class="row parallax-content parallax-background-3 dark music">
        <a name="music"></a>
        <div class="parallax-inside">
            <h2 class="section-title">{% trans 'Music' %}</h2>

            {{ page_music.content|safe }}

        </div>
    </div>
{% endif %}

{% if page_news %}
    <div class="row parallax-content parallax-background-4 news">
        <a name="news"></a>
        <div class="parallax-inside">
            <h2 class="section-title">{% trans 'News' %}</h2>
            <div class="large-6 columns">
                <p class="text-center">
                    {% if facebook_widget %}
                        {{ facebook_widget.widget_code|safe }}
                    {% endif %}
                </p>
            </div>
            <div class="large-6 columns">
                <p class="text-center">
                    {% if twitter_widget %}
                        {{ twitter_widget.widget_code|safe }}
                    {% endif %}
                </p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}

<div class="row parallax-content parallax-background-5 dark gallery-latest">
    <a name="photos"></a>
    <div class="grid-x parallax-inside">
        <div class="cell columns">

            {{ page_gallery.content|safe }}
        <h2 class="section-title">{% trans 'Photos' %}</h2>
            {% if images %}
                <div class="row image-table">
                    <div class="image-row">
                        {% for photo in images %}
                            <a href="{{ photo.get_absolute_url }}" class="image-td">
                                 <img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        <a href="{% url 'photologue:pl-photologue-root' %}" class="secondary button view-all">more</a>
    </div>
</div>

<a name="bio"></a>
<div class="row parallax-content parallax-background-6">
    <div class="grid-x parallax-inside">
        <div class="large-12 columns">
            <h2 class="section-title">{% trans 'About' %}</h2>
            <p>
                Meteleska started in December 2008 in Prague (Kbely) in Czech Republic.<br>
                <br>
                Meteleska is based on rock, ska, balkan, reggae, gypsy and World Music.<br>
                Come and join our dancing session.<br>
                Be welcome.<br>
                <br><br><br><br>
                <br><br><br><br>
            </p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>


<div class="row parallax-content parallax-background-7 dark">
    <a name="contact"></a>
    <div class="parallax-inside">
        <div class="large-12 columns">
        <h2 class="section-title">{% trans 'Contact' %}</h2>
            <p class="contact-us">
                <a href="tel:{{ CONTACT_PHONE }}">{{ CONTACT_PHONE }}</a><br>
                <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a><br>
            </p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
