{% extends "base.html" %}
{% load i18n sitetree %}

{% block heading %}{% endblock %}

{% block title %} | {{ page.title }}{% endblock %}

{% block body_class %}class="page-page"{% endblock %}

{% block content %}

    <style>
        {% if page.image %}
            .parallax-background-custom { background-image: url("/media/{{ page.image }}"); }
        {% endif %}
    </style>

    <div class="parallax-content parallax-content-first parallax-background-custom{% if page.is_dark %} dark{% endif %}">
        <div class="parallax-inside">

            <div class="grid-x">
                <div class="cell">

                    {% sitetree_menu from "main_menu" include "this-children" %}

                    <h1>{{ page.title }}</h1>

                    <p>{{ page.content|safe }}</p>

                    {% if user.is_staff %}
                        <p class="edit"><a href="/admin/pages/page/{{ page.id }}/change/">edit</a></p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
