{% extends "photologue/root.html" %}
{% load photologue_tags i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="parallax-content parallax-content-first dark">
        <div class="grid-x parallax-inside">

            <div class="cell small-12">
                <h1 class="page-header">{{ object.title }}</h1>
                <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a>
                <p>{{ gallery.description }}</p>
                {#<p class="muted"><small>{% trans "Published" %} {{ object.date_added }}</small></p>#}
            </div>

            <div class="cell small-12">
                        <!--<a href="{{ object.image.url }}">-->
                            <img src="{{ object.image.url }}" class="thumbnail image-detail" alt="{{ object.title }}">
                        <!--</a>-->
                        {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
            </div>
            <div class="cell small-12">
                {% if user.is_superuser %}<a href="/admin/photologue/photo/{{ object.id }}/change/">edit</a>{% endif %}
                {% if object.public_galleries %}
                    <table class="image-nav">
                        {% for gallery in object.public_galleries %}
                            <tr>
                                <td class="text-center">&nbsp;{% previous_in_gallery object gallery %}</td>
                                <td class="text-center"></td>
                                <td class="text-center">{% next_in_gallery object gallery %}&nbsp;</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>

            <br><br><br>
            <div><a href="{% url 'gallery' %}" class="btn btn-default">{% trans "View all galleries" %}</a></div>

        </div>
    </div>

{% endblock %}
