.pykapela-footer {

    background-color: #2a2a2a;
    color: #c2c2c2;

    a{
        color: #c0c0c0;
    }

    a:hover {
        text-decoration: underline;
    }

}

.pykapela-copyright {

    a:hover {
        text-decoration: underline;
    }

}
