
#page {
    .title-bar {

        opacity: 0.9;

        ul {
            li {
                a {
                    color: #fff;
                    margin: 0;
                    padding: 0.9rem 1rem;
                    text-transform: uppercase;
                    &:hover {
                        background-color: #323232;
                    }
                    &.current_item {
                        background-color: #303030;
                    }
                }
            }
        }


        .title-bar-center {

            width: 100%;

            ul {

                display: table;
                margin: 0 auto;

                li {
                    display: table-cell;
                    background-color: black;
                    opacity: 1.0;
                }
            }
        }

        .title-bar-right {
            ul {

                min-width: 200px;
                display: table;

                li {

                    display: table-cell;

                    a {

                    }
                }
            }
        }
    }
}
