

#page {
    .view-all {
        margin: 5rem auto 0 auto;
    }
}

.home-admin-link {
    a {
        color: #fff;
        padding: 0.1rem 0.3rem;
        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: #787878;

        }
    }

}