<div class="row promoted-event">
    <div class="large-2  large-offset-2 columns">
        {% if event.image %}
            <p><img src="{{ event.image }}"> </p>
        {% endif %}

        <h1><span title="{{ event.datetime|date:"j. n. Y, H:i" }}">{{ event.datetime|date:"j. n. \'y" }}</span></h1>

    </div>
    <div class="large-8 columns">
        <h1>
            {{ event.title }}
        </h1>

        {% if event.image %}
            <span title="{{ event.datetime|date:"j. n. Y, H:i" }}">{{ event.datetime|date:"j. n. \'y" }}</span>
        {% endif %}
    </div>
</div>