{% extends "base.html" %}
{% load i18n %}

{% block heading %}{% endblock %}

{% block title %} | {{ event.title }} {% if event.location %}@ {{ event.location }}{% endif %}{% endblock %}

{% block body_class %}class="page-events"{% endblock %}

{% block content %}

    <div class="row events-detail">
        <div class="parallax-inside">
            <div class="large-12 columns">


                <h1>{{ event.title }} {% if event.location %}@ {{ event.location }}{% endif %}</h1>

                <p>{{ event.datetime|date:"j. n. 'y" }}</p>

                <p>{{ event.address }}</p>

                {% if user.is_staff %}
                    <p class="edit"><a href="/admin/events/event/{{ event.id }}/change/">edit</a></p>
                {% endif %}

                {% if event.image %}
                    <p><img src="{{ event.image.url }}" width="{{ event.image.width }}" height="{{ event.image.height }}"> </p>
                {% endif %}

                <p>{{ event.description|safe }}</p>

            </div>
        </div>
    </div>

{% endblock %}
