<div class="grid-x event promoted-event">
    <div class="cell small-5 medium-3 large-6 text-right event-inside event-left">
        {% if event.image %}
            <p class="event-image"><a href="{% url "concert" slug=event.slug %}"><img src="/media/{{ event.image }}" width="250"></a></p>
        {% endif %}

        {% if not event.image %}
            <h2><span title="{{ event.datetime|date:"j.n.Y, H:i" }}">{{ event.datetime|date:"j.n.\'y" }}</span></h2>
        {% endif %}

    </div>
    <div class="cell small-7 medium-9 large-6 text-left event-inside event-right">
        <h2>
            <a href="{% url "concert" slug=event.slug %}">
                {{ event.title }} {% if event.location %}@ {{ event.location }}{% endif %}
            </a>
        </h2>

        {% if event.image %}
            <span title="{{ event.datetime|date:"j.n.Y, H:i" }}">{{ event.datetime|date:"j.n.\'y" }}</span>
        {% endif %}
    </div>
</div>