<div class="grid-x event small-event">
    <div class="cell small-5 medium-3 large-6 text-right event-inside event-left">
        <h4>{{ event.datetime|date:"j. n. Y" }}</h4>
    </div>
    <div class="cell small-7 medium-9 large-6 text-left event-inside event-right">
        <h4 class="event-title">
            <a href="{% url "concert" slug=event.slug %}">
                {{ event.title }} {% if event.location %}– {{ event.location }}{% endif %}
            </a>
        </h4>
    </div>
</div>