{% extends "base.html" %}
{% load i18n %}

{% block title %} | Shows{% endblock %}

{% block content %}


    <div class="grid-x parallax-content parallax-content-first parallax-background-2 events-index long">
        <div class="parallax-inside">

            <div class="cell">

                {% if upcoming_events %}
                    {% include "events/events-upcomming.html" %}
                {% endif %}

                {% if archive_events %}
                    {% include "events/events-archive.html" %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
