
.parallax-inside {
    .image-table {
        img {
            width: 18%;
        }
    }
    .image-nav tbody {
        background-color: #000;
        border: none;
    }
    .image-detail {
        max-height: 60vh;
    }
}